@charset "ISO-8859-1";

body {
	background-color: black;
	font-family: 'Dosis';
	font-size: 20px;
}

.navTextPink {
	color: #FFADDA;
}

.contact-bg {
	background-color:  #FFADDA;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.contact-card {
	border: 3px solid black;
}

.contact-input {
	border-radius: 0px;
}

.form-control:focus {   
  border: 3px solid #FFADDA;
  outline: 0 none;
  box-shadow: none;
}

.merchBG {
	background-color: #FFADDA;
}

.showsTableFontSizing {
	font-size: 15px;
}

iframe {
	border: 4px solid white;
}

.merchPosterOutline {
	border: 4px solid gold;
}

.footer {
	font-size: 15px;
}

.navButtonSize {
	font-size: calc(14px + 1vw);
}

h1, h2 {
	font-family: 'Dosis';
}

h1 {
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
}

.video-bg {
	background-image: url("./images/saxBg.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 3vh;
	padding-left: 2vh;
	padding-right: 2vh;
}

.mail-bg {
	background-image: url("./images/letter background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.mail-center > div:first-child {
	vertical-align:middle; 
}

.music-bg {
	background-image: url("./images/pink sheet music.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2vh;
}

.show-bg {
	background-image: url("./images/showsBackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.table-bg {
	background-color: rgba(0, 0, 0, 0.7);
}

table {
	margin: auto;
	max-width: 1000px;
}

.card {
	border-radius: 0;
}

.cardBG {
	background-color: rgba(0, 0, 0, 0.8) !important;
}

.merchHomeBG {
	background-color: #9EFFFF;
}

hr {
	color: white;
}

.line {
	margin: auto;
	max-width: 1000px;
	border-bottom: 1px solid white;
	display: block;
}

.iconPadding {
	padding: 1vw;
}

.fbIconColor {
	color: #3b5998;
}

.ytIconColor {
	color: red;
}

.sptfyIconColor {
	color: #1DB954;
}

.instIconColor {
	color: #F58529;
}

.aplmIconColor {
	color: white;
}

.gglplyIconColor {
	color: cyan;
}

a:hover {
	text-decoration: none;
	color: #FFADDA;
}

.top-logo {
	width: 100%;
	max-width: 700px;
	height: auto;
}

.showPoster {
	width: 100%;
	max-width: 500px;
	height: auto;
}

.bandGroupPhoto {
	max-width: 100%;
	max-height: 100vh;
}

a:hover {
	animation: shake 2s;
	animation-iteration-count: infinite;
}

.jeremyBg {
	background-color: #A83535;
}

.dustyBg {
	background-color: #8E4E2D;
}

.tylerBg {
	background-color: #A851FF;
}

.christianBg {
	background-color: #FF7FB8;
}

.stevenBg {
	background-color: #41ADCC;
}

.dylanBg {
	background-color: #E2C058;
}

.responsiveBioImg {
	width: 100%;
	max-width: 500px;
	height: auto;
	border: 4px solid white;
}

.bottomWhiteBorder {
	border-bottom: 4px splid white;
}

.card-img-top {
	width: 100%;
	height: 25vh;
	object-fit: cover;
}

.responsiveModalImg {
	width: 100%;
	max-width: 1000px;
	height: auto;
}

.cartItemImage {
	width: 100%;
	max-width: 200px;
	height: auto;
}

.iframe-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.iframe-container iframe, .video-container object, .video-container embed
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.iframe-holder {
	display: inline-block;
	width: 100%;
	height: 100%;
	max-width: 1000px;
	max-height: 563px;
}

.music-iframe {
	height: 10vh;
}