<div class="text-center">
	<img class="bandGroupPhoto" src="./images/group.jpg">
</div>

<div class="container text-center text-white">
	<h1>Who Is Any Given Room?</h1>
	<div>Any Given Room is an indie rock? pop rock? alternative....?
		whatever, its all made up and nothing matters, band comprised of 5
		trash pandas and 1 actual brick - you guess who is who - based out of
		Little Rock, Arkansas. Since its creation in 2017 it has grown and
		changed into the 6-piece dumpster fire that occasionally graces local
		stages to a solid audience of at least 8 people. The band's sound has
		morphed from literally just screaming into a metal trashcan to a loose
		association of sounds in the vague direction of music they describe as
		"Good-Ass Pop Music." Any Given Room is for fans of Jesus, Stitch from
		the 2002 Disney Blockbuster "Lilo and Stitch," vaguely threatening
		dissociative thoughts that lurk in the quiet places of your mind, and
		Fergie. The band includes Dylan Bradley (vocals), Christian Whitehead
		(drums), Dustin Renfro (bass), Tyler Merriott (guitar), Jeremy Gifford
		(guitar) and Stephen Sivils (the talent).</div>
	<div>
		<a class="w3-button w3-black w3-border my-3" href="#!memberBio">View
			Member Bio's</a>
	</div>
</div>

<div class="showBg text-center text-white">
	<h1 class="mt-0">Come See Us</h1>
	<div class="container">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-6 my-auto">
						<img class="showPoster" src="./images/new show.jpg">
					</div>
					<div class="col-sm-6 my-auto">
						<div>
							<h1 class="mb-0">When</h1>
							<hr class="my-0">
							<div>Friday, February 5th 2020</div>
						</div>

						<div>
							<h1 class="mb-0">Where</h1>
							<hr class="my-0">
							<div>
								Vino's Brewpub </br> 72201, Little Rock AR, 923 W 7th St.
							</div>
						</div>

						<div>
							<h1 class="mb-0">How</h1>
							<hr class="my-0">
							<div>
								$20 per table. </br> Contact us on facebook for tickets!
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<a class="w3-button w3-black w3-border my-3" href="#!shows">Upcoming
				Shows</a>
		</div>

	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 videoBg text-center">
			<h1 class="text-black">Watch A Video</h1>

			<div class="video-container">
				<iframe src="https://www.youtube.com/embed/lKxb67pYGvI"
					allowfullscreen></iframe>
			</div>

			</br>
		</div>

		<div class="col-sm-6 musicBg text-center">
			<h1 class="text-black">Jam Some Tunes</h1>

			<div class="video-container">
				<iframe
					src="https://open.spotify.com/embed/artist/7KcU34oMka3jv5PZwC6G0f"
					width="300" height="380" frameborder="0" allowtransparency="true"
					allow="encrypted-media"></iframe>
			</div>


			</br>
		</div>
		
		<div class="col-sm-6 text-center">
		<h1>Purchase Some Drip</h1>
		
		<div>
		<a class="w3-button w3-black w3-border my-3" href="#!merch">View Merch Store</a>
	</div>
		
		</div>

		<div class="col-sm-6 text-center text-white">
			<h1 class="">Subscribe to our Mailing List!</h1>
			<div>Sign up and stay up to date with anything Any Given Room!
				By signing up you will receive a 10% discount on our merch for life!
				And if you get tired of us? Cancel your subscription at any time.
				</div>
			<form>
				<div class="form-group my-3">
					<input type="text" class="form-control" placeholder="Enter email" ng-model="mailForm.email">
				</div>
				<a class="w3-button w3-black w3-border my-3" type="submit" ng-click="subscribe()">Subscribe</a>
			</form>
		</div>

	</div>
</div>