<!-- Shopping Cart Nav -->
<nav class="navbar navbar-expand justify-content-center"
	ng-init="getInventory()">
	<a type="button" class="fas fa-shopping-cart fa-3x navTextPink my-3"
		data-toggle="modal" data-target="#cartModal"></a>
</nav>
<!-- Item Display -->
<div class="merchBG">
	<div class="container">
		<div class="row">

			<div class="col-sm-3 my-3" ng-repeat="i in items">
				<div class="card text-center">
					<div class="card-header">{{i.itemName}}</div>
					<div class="card-body">
						<img class="responsiveBioImg" ng-src="{{i.itemImage}}">
					</div>
					<div class="card-footer">
						<a type="button" class="far fa-eye fa-3x gglplyIconColor"
							ng-click="selectItemForItemModal(i)" data-toggle="modal"
							data-target="#itemModal"></a>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Cart Modal -->
<div class="modal fade" id="cartModal">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Shopping Cart</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">


				<table class="table" ng-repeat="sci in shoppingCart">
					<td>
						<div class="container">
							<div class="row">
								<div class="col-sm-6 text-center">
									<img class="cartItemImage my-auto" ng-src="{{sci.itemImage}}">
								</div>

								<div class="col-sm-6">
									Name: <strong>{{sci.itemName}} {{sci.itemVariant}}</strong> </br>
									Price: <strong>{{sci.itemPrice}}</strong> </br> Quantity: <strong>{{sci.itemQuan}}</strong>
									</br>
									<Button type="button" class="btn btn-danger"
										ng-click="removeAndUpdateOrder($index)">Remove</Button>
								</div>
							</div>
						</div>
					</td>
				</table>

				<div ng-if="shoppingCart.length == 0"
					class="text-danger text-center">
					<Strong>Shopping cart is empty.</Strong>
				</div>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<nav class="navbar navbar-expand">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item mx-2">Order Total: <strong>$ {{orderData.orderTotal}}</strong></li>
						<li class="nav-item mx-2">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Check
								Out</button>
						</li>
					</ul>
				</nav>
			</div>

		</div>
	</div>
</div>

<!-- Item Modal -->
<div class="modal fade" id="itemModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">{{selectedModalItem.itemName}}</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="container">
					<div class="row text-center">
						<div class="col-sm-6">
							<img class="responsiveModalImg"
								ng-src="{{selectedModalItem.itemImage}}">
						</div>
						<div class="col-sm-6">{{selectedModalItem.itemDesc}}</div>
					</div>
				</div>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer"></div>
			<nav class="navbar navbar-expand">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item mx-2"><select
						ng-model="itemOptions.chosenVariant"
						ng-show="selectedModalItem.hasVariant">
							<option ng-repeat="v in selectedModalItem.variants">{{v}}</option>
					</select></li>
					<li class="nav-item mx-2"><b>${{selectedModalItem.itemPrice}}</b>
						USD</li>
					<li class="nav-item mx-2"><a type="button"
						class="fas fa-shopping-cart navTextPink fa-2x"
						ng-click="addToCart()"></a></li>
				</ul>

			</nav>
			<div class="container" ng-if="displayAddToCartAlert == true">
				<div class="alert alert-success alert-dismissible fade show">
					<Strong>{{itemForAddToCartAlert}}</Strong> has been added to
					your cart!
				</div>

			</div>
		</div>

	</div>
</div>

